.h1class{
  color: #7b4577;
  font-weight: bold;
}
.h3class{
  color: #7b4577;
  font-weight: lighter;
}
* {
  box-sizing: border-box;
}
.h1class2{
  color: #f7d084;
  font-weight: lighter;
}
.h3class2{
  color: #f7d084;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
.divrow {
  display: flex;
}

.divcolumn {
  flex: 50%;
}
/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
  background-color:rgb(249,243,231);
  width: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 256px;
  height: 256px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

button.selected {
  background-color: #CCC;
  outline: 0;
}

.purplebutton {
  background-color: #7b4577;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8vw;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  width: 40%;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.purplebutton:hover,
.purplebutton:focus {
  background-color: #4d2a4a;
}

.yellowbutton {
  background-color: #fdb553;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8vw;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  width: 40%;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.yellowbutton:hover,
.yellowbutton:focus {
  background-color: #c58d3f;
}

.whitebutton {
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #0a0a0a;
  box-sizing: border-box;
  color: #0a0a0a;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8vw;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  width: 30.5%;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.whitebutton:hover,
.whitebutton:focus {
  background-color: #73746d;
}

.bigwhitebutton {
  background-color: #ffffff;
  border-radius: 20px;
  border-color: #0a0a0a;
  box-sizing: border-box;
  color: #0a0a0a;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8vw;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 10px;
  width: 63%;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bigwhitebutton:hover,
.bigwhitebutton:focus {
  background-color: #73746d;
}
@media screen and (min-width: 1001px) {
  button.bigwhitebutton, button.whitebutton, button.yellowbutton, button.purplebutton{
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  button.bigwhitebutton, button.whitebutton, button.yellowbutton, button.purplebutton{
    font-size: 15px;
    width: auto;
  }
}
